{% assign t = site.data.locales[page.lang][page.lang] %}
<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if t.sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ t.sidebar.email }}">{{ t.sidebar.email }}</a>
    </li>
    {% endif %}

    {% if t.sidebar.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ t.sidebar.phone }}">{{ t.sidebar.phone }}</a>
    </li>
    {% endif %}

    {% if t.sidebar.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="http://{{ t.sidebar.website }}" target="_blank">{{ t.sidebar.website }}</a>
    </li>
    {% endif %}

    {% if t.sidebar.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ t.sidebar.linkedin }}" target="_blank">{{ t.sidebar.linkedin }}</a>
    </li>
    {% endif %}

    {% if t.sidebar.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ t.sidebar.github }}" target="_blank">{{ t.sidebar.github }}</a>
    </li>
    {% endif %}

    {% if t.sidebar.gitlab %}
    <li class="gitlab"><i class="fab fa-gitlab"></i>
      <a href="http://gitlab.com/{{ t.sidebar.gitlab }}" target="_blank">{{ t.sidebar.gitlab }}</a>
    </li>
    {% endif %}

    {% if t.sidebar.bitbucket %}
    <li class="bitbucket"><i class="fab fa-bitbucket"></i>
      <a href="http://bitbucket.com/{{ t.sidebar.bitbucket }}" target="_blank">{{ t.sidebar.bitbucket }}</a>
    </li>
    {% endif %}

    {% if t.sidebar.twitter %}
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ t.sidebar.twitter }}" target="_blank">{{ t.sidebar.twitter }}</a>
    </li>
    {% endif %}

    {% if t.sidebar.stack-overflow %}
    <li class="stack-overflow"><i class="fab fa-stack-overflow"></i>
      <a href="https://stackoverflow.com/users/{{ t.sidebar.stack-overflow }}" target="_blank">{{ t.sidebar.stack-overflow }}</a>
    </li>
    {% endif %}

    {% if t.sidebar.codewars %}
    <li class="codewars"><i class="fas fa-code"></i>
      <a href="https://www.codewars.com/users/{{ t.sidebar.codewars }}/completed_solutions" target="_blank">{{ t.sidebar.codewars }}</a>
    </li>
    {% endif %}

    {% if t.sidebar.goodreads %}
    <li class="goodreads-g"><i class="fab fa-goodreads-g"></i>
      <a href="https://www.goodreads.com/user/show/{{ t.sidebar.goodreads }}" target="_blank">{{ t.sidebar.goodreads }}</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
