<div class="remove-container">
    <a href="{{ site.url }}{{ site.baseurl }}/download/cv-{{ page.lang }}.pdf" class="download-corner" aria-label="Download CV" title="Download CV">
        <svg width="80" height="80" viewBox="0 0 250 250" 
        style="fill:#151513; z-index:10; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
            <path d="M 0 0 L 115 115 L 115.002 114.999 L 142 142 L 250 250 L 250 0 L 0 0 Z" />
            <path fill="currentColor" class="download-arrow" d="M 215.17 90.342 L 190.925 90.342 L 190.799 21.771 L 155.226 21.845 L 154.556 90.342 L 130.31 90.342 L 172.741 132.772 L 215.17 90.342 Z" 
            transform="matrix(0.707107, 0.707107, -0.707107, 0.707107, 105.233578, -99.513325)"/>
        </svg>
    </a>
</div>