---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="{{ page.lang }}" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="{{ page.lang }}" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="{{ page.lang }}"> <!--<![endif]-->
{% include head.html %}

<body>
  {% include download-button.html %}

  <div class="wrapper">
    {% include sidebar.html %}
    
    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>